{% extends 'base.html' %}
{% load static %}
{% block main %}

    {% if view.kwargs.mensagem %}
    <div class="alert alert-success" role="alert">
      {{ view.kwargs.mensagem }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <p>
        <h1>Arquivos enviados</h1>
        <a href="{% url 'create_arquivo' %}" class="btn btn-info">Processar novo arquivo</a>
    </p>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                [Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}]
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div><br>

    <div class="row">
        {%  for arquivo in object_list %}

             <div class="col-md-4">
            <div class="card bg-light mb-4" >
                <div class="card-header"><h1>Arquivo: {{ arquivo.nome }}</h1></div>
                <div class="card-body">
                    {% csrf_token %}
                    <p class="card-text">
                        <a href="/media/{{ arquivo.arquivo }}" download="true">Download</a> <br>
                        Forma de envio: {{ arquivo.forma_envio }}<br>
                        {% if arquivo.processado %}
                            Execução: {{ arquivo.tempoExecucaoSegundos | floatformat:2 }} segundos<br>
                            Espera na fila: {{ arquivo.tempoEsperaFila_segundos | floatformat:2 }} segundos<br>
                            Processamento: <kbd class="bg-success">{{ arquivo.status_processamento }}</kbd><br><br>
                            Resultado: <pre>{{ arquivo.resultado_processamento  }}</pre>

                        {% elif not arquivo.status_processamento == 'FAILURE' %}
                            Processamento: <kbd class="bg-success">{{ arquivo.status_processamento }}</kbd><br><br>
                            <div id="div{{arquivo.id_task}}" align="center">
                                <button id="btn{{arquivo.id_task}}" type="button" onclick="get_task_status('{{ arquivo.id_task }}');" class="btn btn-warning">Clique para acompanhar execução</button><br><br>
                                <img id="img{{arquivo.id_task}}" src="{% static 'images/loading.gif' %}" alt="Logotipo" title="" style="height:3rem;display:none;" class="" width="80%">
                                <p id="status{{arquivo.id_task}}"><br>
                                <p id="status2{{arquivo.id_task}}"><br>
                            </div>
                        {% else %}
                            Processamento: <kbd class="bg-success">{{ arquivo.status_processamento }}</kbd><br><br>
                        {% endif %}
                    </p>

                </div>
                <div class="card-footer bg-transparent" align="center">
                    <a href="{% url 'update_arquivo' arquivo.id %}" ><img src="{% static 'images/edit32x32.png'%}" alt="Editar" ></a>&nbsp;
                    <a href="{% url 'delete_arquivo' arquivo.id %}"><img src="{% static 'images/delete.png'%}" alt="Deletar" ></a>&nbsp;
                </div>
            </div>
        </div>
        {% endfor %}
    </div><br>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                [Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}]
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div><br>

{% endblock %}

{% block static %}
<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/funcoes-ajax.js' %}"></script>
{% endblock %}
